.backdrop.svelte-sqahei{backdrop-filter:blur(4px);z-index:1000;background-color:#00000020;justify-content:center;align-items:center;display:flex;position:absolute;inset:0}.backdrop.svelte-sqahei:first-of-type{background-color:#00000080}
